@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Bitter', serif;
    font-weight: 300;
    color: #36454f;
}

/* Headings and logo */

h1, h2 {
    font-family: 'Open Sans', sans-serif;
    color: #36454f;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 150%;
}

#menu, #logo {
    line-height: 90px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    color: gold;
}

/* Hero image */

#hero-outer {
    height: 400px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 400px;
    width: 100%;
    background: url(../images/tvz-hero2.png) no-repeat center center;
}

/* footer */

footer {
    height: 150px;

}

.external-links {
    text-align: center;
}

.external-links > li {
    display: inline;
}

.external-links i {
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: #36454f;
}