@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Bitter', serif;
    font-weight: 300;
    color: #36454f;
}

/* Headings and logo */

h1, h2 {
    font-family: 'Open Sans', sans-serif;
    color: #36454f;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 150%;
}

#menu, #logo {
    line-height: 90px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    color: gold;
}

/* Hero image */

#hero-outer {
    height: 400px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 400px;
    width: 100%;
    background: url(../images/tvz-hero2.png) no-repeat center center;
}

/* footer */

footer {
    height: 150px;

}

.external-links {
    text-align: center;
}

.external-links > li {
    display: inline;
}

.external-links i {
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: #36454f;
}

/* biography */

#bio-heading {
    text-align: center;
    font-size: 200%;
    margin: 30px 0;
}

#bio {
    margin: 0 auto;
    max-width: 900px;
    padding: 0 15px;

}

#bio-image {
    float: left;
    height: 200px;
    width: 200px;
    margin: 15px;
    border-radius: 50%;
}
/* gallery */

#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#photos > img {
    width: 100%;
}

/* Video */

#video-heading {
    text-align: center;
    font-size: 200%;
    margin-top: 30px;
}

#video {
    margin-top: 30px;
    text-align: center;
}

#iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
  }
  
  #iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /* Form */

  .form-section {
    clear: left;
    background: url("../images/form-bg.jpg");
    background-size: cover;
    background-position: center;
    height: 900px;
  }
  
  .signup-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
    
  }
  
  .signup-form > h3 {
    color: #fafafa;
    margin-bottom: 20px;
    
  }

  .join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: gold;
    color: #36454f;
    display: block;
  }
  
  .join-button:hover {
    background-color: #36454f;
    color: gold;
  }
  
  /* For medium screen sizes from 950px wide and down */

  @media screen and (max-width: 950px) {
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #photos {
        column-count: 3;
    }
  }

  /* For small screen sizes 800px and down */

  @media screen and (max-width: 800px) {
    #photos {
        column-count: 2;
    }
  }